@media(max-width:1024px){
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    max-width: 500px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .brand-name {
    font-size: 38px;
  }

  .hero p {
    font-size: 16px;
  }
  .btn-primary
  {
    margin-bottom: 3px;
  }
  .search{
  margin-right: 60px;
  margin-left: 60px;
}
#reset{
  margin-left: 80px;
}

}
@media(max-width:700px){
  .hero h1 {
    font-size: 26px;
  }

  .brand-name {
    font-size: 30px;
  }
  .hero-image img {
    max-width: 300px;
  }
  .contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.search{
  margin-right: 20px;
  margin-left: 20px;
}
.school-cards{
  flex-direction: column;
  justify-content: center;
}
#reset{
  margin-left: 40px;
}
}


