
body {
  font-family: 'Baloo 2', cursive;
  background: url(https://i.pinimg.com/1200x/7c/31/b5/7c31b5b84fd37bdfe195a0acc7115c03.jpg);
  background-position: center;
  width:  100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
section {
  scroll-snap-align: start; 
}
.navbar {
  background-color:  #a7fc9f ;
  color:rgb(167, 48, 236);


}
 .navbar-brand {
    font-weight: bold;
    color: rgb(167, 48, 236);
  }
  .nav-link{
    font-weight: bold;
    font-size: 16px;
    color: rgb(167, 48, 236);
    border-radius: 16px;

  }





.nav-link:hover {
 background: rgb(167, 48, 236);
  color: white;
}

.nav-link.active {
  background: rgb(167, 48, 236)!important;
  color: white !important;
}
.navbar-nav{
  margin-left: 15px;
}



