
body {
  font-family: 'Baloo 2', cursive;
  background: url(https://i.pinimg.com/1200x/7c/31/b5/7c31b5b84fd37bdfe195a0acc7115c03.jpg);
  background-position: center;
  height: 100%;
  margin: 0;
}

.homework-page {
  color: rgb(167, 48, 236);

}

.dash-card { border-radius: 20px; border: none; transition: transform 0.3s ease;}

/*
.homework-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  

.homework-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
*/
.homework-card h5 {
  color: rgb(167, 48, 236);
  font-weight: bold;
}

.btn-primary {
  background-color: rgb(167, 48, 236);
  color: white;
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgb(140, 30, 210);
}

.btn-outline-primary {
  color: rgb(167, 48, 236);
  border-color: rgb(167, 48, 236);
  font-weight: bold;
}

.btn-outline-primary:hover {
  background-color: rgb(167, 48, 236);
  color: white;
  border-color: rgb(167, 48, 236);
}



.alert-info {
  background-color: rgba(120, 250, 94, 0.582);
  color: rgb(167, 48, 236);
  font-weight: bold;
  border: none;
}



.badge {
  padding: 8px 12px;
  font-size: 10px;
  border-radius: 12px;
}
.SideNav{
  background-color: rgba(120, 250, 94, 0.582);
  width: 200px;
 display: block;
  border-radius: 6px;
}

.logo{
  color:rgb(167, 48, 236) ;
  font-weight: bold;
  font-size: large;
}
.navbar{
  background-color:rgba(120, 250, 94, 0.582) ;
}
.clip{
  font-size:50px ;
  color:rgb(167, 48, 236) ;
  padding: 10px;
}
.card-title{
  font-weight: bold;
  color:rgb(167, 48, 236) ;
}

.dashboard-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
}

.subject-hero {
  position: relative;
  height: 550px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
    object-position: bottom center;


}



.hero-content {
  position: absolute;
  bottom: 70%;
  left: 5%;
  color: rgb(167, 48, 236);
  font-weight: bold;
}
.lecture-card{
  background-color:rgba(120, 250, 94, 0.582) ;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
border-radius: 10px;
padding: 10px;
margin: 10px;
}
.lecture-card:hover{
    transform: translateX(4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.progress-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width:240px;      
  height: 180px;     
  object-fit: cover; 
  margin-left: 10px; 
  border-radius: 8px; 
}
.note-1 {
  background: rgba(250, 157, 214, 0.897);
  transform: rotate(-2deg);
}

.note-2 {
  background: rgba(182, 247, 187, 0.952);
  transform: rotate(1.5deg);
}

.note-3 {
  background: #bbdefbea;
  transform: rotate(-1deg);
}
.note-4 {
  background: rgba(255, 255, 255, 0.897);
  transform: rotate(-2deg);
}
 .dash-card:hover{
  transform: scale(1.05);

 }
.profile-image{
  border-radius: 50%;
  
  width: 160px;      
  height: 140px;  
}
.profile-card-content{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;


}

.exam-detail{
  color: rgb(146, 141, 141);
  font-size: 12px;
}
.exam-card{
  background-color:#cee8fdea ;
  border: 0.5px solid black;
}
.homework-detail{
  font-size: 12px;
}
.homework-date{
   color: rgb(146, 141, 141);
}
.homework-card{
    background-color:rgba(250, 206, 233, 0.897);
  border: 0.5px solid black;
}


@media(max-width:1024px){
  .dashboard-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}}
@media(max-width:900px){
  .dashboard-grid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
}}
@media(max-width:750px){
  .dashboard-grid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
}
.SideNav{
  display: none!important;
}}
.nav-link{
  color:rgb(167, 48, 236) ;
  font-weight: bold;
}
.nav-link:hover{
  background-color:rgb(167, 48, 236)  ;
  color: white;
  border-radius: 16px;
  padding: 6px;
}
.fa-bell{
  color:rgb(167, 48, 236)  ;
  font-size: large;
}


