.exams-page {
  gap: 20px; 
  height: 100vh;
}
.exam-schedule {
  margin: 40px ;
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.exam-schedule-title {
  font-size: 35px;
  margin-bottom: 20px;
  color: rgb(167, 48, 236);
  font-weight: bold;
}

.exam-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

.exam-table th,
.exam-table td {
  padding: 12px 15px;
  border: 1px solid #fdf6f6;
  text-align: center;
}

.exam-table th {
  background-color: #a7fc9f; 
  color: rgb(167, 48, 236);
  font-weight: bold;
}

.even-row {
  background-color: #fafafa;
}

.odd-row {
  background-color:  #f5f5f5;
}

.exam-table tr:hover {
  background-color: #f1f5f9;
  transition: background-color 0.2s ease;
}
@media (min-width: 992px) {
  .exams-page {
    display: flex;      
  }}
  @media (max-width: 766px) {
    .exam-schedule{
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }