.title{
      color: rgb(167, 48, 236);

}
.badge{
          background-color: rgb(48, 98, 236);
          color:  white;

}
.card{
    background-color:#a7fc9f  ;
}
.navbar {
   background-color:  #a7fc9f ;
  color:rgb(167, 48, 236);
}

.navbar-brand {
    font-weight: bold;
    color: rgb(167, 48, 236);
}

.navbar-brand:hover {
  color: rgb(109, 107, 247);
}

.nav-link {
  color: rgb(167, 48, 236);
  margin: 0 10px;
   font-weight: bold;
    font-size: 16px;
    border-radius: 16px;

}

.nav-link:hover {
 background: rgb(167, 48, 236);
color: white;
border-radius: 16px;

}

.nav-link.active {
 background: rgb(167, 48, 236)!important;
  color: white!important;
    border-radius: 16px;

}
.hero-page{
  min-width: 100%;
}
.brand-image img{
  height: 40px;
  width: auto;
}
.Date{
    max-width: 250px;
}
.head th{
    background-color: #a7fc9f;
    color: rgb(167, 48, 236);
}