.title{
      color: rgb(167, 48, 236);

}
.badge{
          background-color: rgb(48, 98, 236);
          color:  white;

}
.card{
    background-color:#a7fc9f  ;
}
.navbar {
   background-color:  #a7fc9f ;
  color:rgb(167, 48, 236);
}

.navbar-brand {
    font-weight: bold;
    color: rgb(167, 48, 236);
}

.navbar-brand:hover {
  color: rgb(109, 107, 247);
}

.nav-link {
  color: rgb(167, 48, 236);
  margin: 0 10px;
   font-weight: bold;
    font-size: 16px;
    border-radius: 16px;

}

.nav-link:hover {
 background: rgb(167, 48, 236);
color: white;
border-radius: 16px;

}

.nav-link.active {
 background: rgb(167, 48, 236)!important;
  color: white!important;
    border-radius: 16px;

}
.hero-page{
  min-width: 100%;
}
.brand-image img{
  height: 40px;
  width: auto;
}
.Date{
    max-width: 250px;
}
.head th{
    background-color: #a7fc9f;
    color: rgb(167, 48, 236);
}





.teacher-homework-page {
  padding: 20px;
}

.create-homework-form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  max-width: 400px;
}

.create-homework-form button {
  padding: 8px 15px;
  background-color: rgb(167, 48, 236);
  color: #fff;
  border: none;
  cursor: pointer;
}

.create-homework-form button:hover {
  background-color: #a130d0;
}

.homework-list ul {
  list-style: none;
  padding-left: 0;
}
.lesson-card{
  background-color: #fff;
  color: #a130d0;

}
.video-label{
  color: #a130d0;
}
h2{
  color: rgb(167, 48, 236);
}
h3{
  color: rgb(167, 48, 236);
  font-weight: bold;
}
.homewoark-teacher-card{
  background-color: white;
}
.subject-title{
  color:rgb(167, 48, 236) ;
}
.btn-priamry{
  background-color:#a7fc9f ;
  color: #a130d0;
  font-weight: bold;
}
.btn-priamry:hover{
  background-color:#a130d0 ;
  color: white;
}
.modal-container {
  width: 80%;
  max-width: 700px;
 max-height: 500px;
   overflow: auto;
  background-color: white;
  border-radius: 0.25rem; 
  padding: 1rem;
  position: relative;
}
.back-btn{
  color: #a130d0;
  font-size: bold;
  border: 2px solid rgb(167, 48, 236);
}
.back-btn:hover{
color: white;
background-color: rgb(167, 48, 236);
border: none;

}