#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: url(https://i.pinimg.com/1200x/7c/31/b5/7c31b5b84fd37bdfe195a0acc7115c03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
     color:rgb(167, 48, 236) ;

}
.card{
  background-color:rgba(120, 250, 94, 0.582) ;
   color:rgb(167, 48, 236);
   padding: 20px;
   border-radius: 5px;
   margin: 10px;
   p{
    font-weight: bold;
   }
  
}
.inputs{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
input{
  padding: 5px;
  margin: 5px;
  background-color:rgba(120, 250, 94, 0.582);
  border-radius: 5px;
  color:rgb(167, 48, 236) ;
  border: none;
}

.btn-primary{
  background-color: rgba(120, 250, 94, 0.582);
  color:rgb(167, 48, 236)  ;
  border: none;
  margin-right: 5px;
  font-weight: bold;
}
.btn-primary:hover{
  background-color:rgb(167, 48, 236) ;
  border: none;
  color: white;
}

